In [ ]:
import pandas as pd
df = pd.read_parquet("datasets/pre_computed_slopes.parquet")
display(df)

,title,_int_0,_int_1,_int_2,_int_3,_int_4,_int_5,_int_6,_int_7,_int_8,...,_lrc_127,_lrc_128,_lrc_129,_lrc_130,_lrc_131,_lrc_0,_lrc_1,_lrc_2,_lrc_3,_lrc_4
0,! .. عشان ما تنضربش على قفاك,0,0,0,0,0,0,0,0,0,...,2.384186e-07,2.384186e-07,2.384186e-07,2.384186e-07,2.384186e-07,NaN,NaN,NaN,NaN,NaN
1,!!شعراء إرهابيون,0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
2,!búscalo! (look it up!): a quick reference gui...,0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
3,!exacto!: a practical guide to spanish grammar,0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
4,!feliz navidad: celebrating a mexican christmas,0,0,0,0,0,0,0,0,0,...,1.428571e-01,2.285714e-01,2.571429e-01,2.285714e-01,1.428571e-01,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486019,ｍな女王様と××したいってばよ [m na jousama to xx shitai tte...,0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
1486020,ｍの劣情 [m no retsujou],0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
1486021,ｓａｍｕｒａｉ ｄｅｅｐｅｒ ｋｙｏ（１）,0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
1486022,ｘｂｌａｄｅ（１０）,0,0,0,0,0,0,0,0,0,...,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,-1.490116e-08,NaN,NaN,NaN,NaN,NaN
1486023,ｘｘｘアレルギー [xxx allergy],0,0,0,0,0,0,0,0,0,...,-2.980232e-08,-2.980232e-08,-2.980232e-08,-2.980232e-08,-2.980232e-08,NaN,NaN,NaN,NaN,NaN

In [ ]:
price_df = pd.read_csv("datasets/Buchpreise_2009-2024.csv")

def comp_months(df):
    split_date = df['date'].str.split("/")
    df['year'] = pd.to_numeric(split_date.str[-1], errors='coerce', downcast='integer')

    df['month'] = pd.to_numeric(split_date.str[0], errors='coerce', downcast='integer')

    # Compute months since December 2006
    df['month'] = ((df['year'] - 2006) * 12) + (df['month'] - 12)

    return df

price_df = comp_months(price_df)
price_df = price_df.dropna(subset=['title'])
price_df = price_df[price_df['year'] < 2016]
price_df['month'] = price_df['month'].astype(int)


display(price_df)
display(price_df.dtypes)

,year,title,author,price,Shortlist/Longlist/Winner,ISBN-10,date,ISBN-13,month
0,2009.0,Olive Kitteridge,Elizabeth Strout,Pulitzer Prize for Fiction,Winner,140006208X,4/20/2009,9.781400e+12,28
1,2010.0,Tinkers,Paul Harding,Pulitzer Prize for Fiction,Winner,1446455998,4/12/2010,9.781446e+12,40
2,2011.0,A Visit from the Goon Squad,Jennifer Egan,Pulitzer Prize for Fiction,Winner,0231545401,4/18/2011,9.780232e+12,52
3,2013.0,The Orphan Master's Son,Adam Johnson,Pulitzer Prize for Fiction,Winner,0231557450,4/15/2013,9.780232e+12,76
4,2014.0,The Goldfinch,Donna Tartt,Pulitzer Prize for Fiction,Winner,3656925348,4/14/2014,9.783657e+12,88
...,...,...,...,...,...,...,...,...,...
1375,2009.0,Little Brother,Cory Doctorow,Nebula Award,Shortlist,1473231930,5/2/2009,9.781473e+12,29
1376,2009.0,Cauldron,Jack McDevitt,Nebula Award,Shortlist,1472203305,5/2/2009,9.781472e+12,29
1377,2009.0,Brasyl,Ian McDonald,Nebula Award,Shortlist,0575087358,5/2/2009,9.780575e+12,29
1378,2009.0,Making Money,Terry Pratchett,Nebula Award,Shortlist,1407034014,5/2/2009,9.781407e+12,29
1379,2009.0,Superpowers,David J. Schwartz,Nebula Award,Shortlist,1407013416,5/2/2009,9.781407e+12,29

year                         float64
title                         object
author                        object
price                         object
Shortlist/Longlist/Winner     object
ISBN-10                       object
date                          object
ISBN-13                      float64
month                          int64
dtype: object

In [ ]:
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

def find_matched_controls(winner_row, control_books, win_month, n_neighbors=100):
    """
    Find control books using kNN based on normalized pre-win reviews and transformed review slope.
    """
    win_month -= 1 #to exclude direct effects of winning the prize
    
    # Clip small negative _lrc values to zero (handle rounding noise)
    winner_lrc = max(winner_row[f'_lrc_{win_month}'], 0)
    
    # Use .loc to avoid SettingWithCopyWarning
    control_books.loc[:, f'_lrc_{win_month}_clipped'] = control_books[f'_lrc_{win_month}'].clip(lower=0)
    
    # Apply log transformation to _lrc (add a small constant to avoid log(0))
    epsilon = 1e-6
    winner_lrc_log = np.log(winner_lrc + epsilon)
    control_books.loc[:, f'_lrc_{win_month}_log'] = np.log(control_books[f'_lrc_{win_month}_clipped'] + epsilon)
    
    # Extract features for winner
    winner_features = np.array([
        winner_row[f'_int_{win_month}'],  # Pre-win reviews (cumulative)
        winner_lrc_log                    # Transformed slope
    ]).reshape(1, -1)
    
    # Extract features for controls
    control_features = control_books[[
        f'_int_{win_month}', 
        f'_lrc_{win_month}_log'
    ]].values
    
    # Normalize features using MinMaxScaler
    scaler = MinMaxScaler()
    control_features_scaled = scaler.fit_transform(control_features)
    winner_features_scaled = scaler.transform(winner_features)
    
    # Fit kNN model on scaled features
    nn = NearestNeighbors(n_neighbors=n_neighbors, metric="euclidean").fit(control_features_scaled)
    _, indices = nn.kneighbors(winner_features_scaled)
    
    # Return matched controls
    return control_books.iloc[indices.flatten()]

In [4]:
import pandas as pd
import numpy as np
from dowhy import CausalModel

# Define columns
int_columns = [col for col in df.columns if col.startswith('_int_')]
slope_columns = [col for col in df.columns if col.startswith('_lrc_')]

def analyze_prize_impact(df, price_df, prize_name=None):
    """
    Analyze the impact of winning a prize on review counts using causal inference.
    Only important metrics (ATE, confidence intervals) are stored and printed.
    """
    # Filter winners
    winners = price_df[price_df['Shortlist/Longlist/Winner'] == 'Winner'].copy()
    winners['title'] = winners['title'].str.strip().str.lower()
    
    if prize_name:
        winners = winners[winners['price'] == prize_name]
    
    # Separate winners and controls
    winner_books = df[df['title'].isin(winners['title'])]
    control_books = df[~df['title'].isin(winners['title'])].copy()
    
    results = []
    
    for _, winner in winners.iterrows():
        title = winner['title']
        win_month = winner['month']
        
        # Skip if winner book not found
        if title not in winner_books['title'].values:
            print(f"Book '{title}' not found in dataset.")
            continue
        
        # Prepare winner's time series
        winner_row = winner_books[winner_books['title'] == title].iloc[0]
        winner_ts = pd.DataFrame({
            'date': range(len(int_columns)),
            'reviews': winner_row[int_columns].values
        })
        
        # Match controls using kNN
        matched_controls = find_matched_controls(winner_row, control_books, win_month)
        
        if matched_controls.empty:
            print(f"No matched controls found for book '{title}'.")
            continue
        
        # Combine winner and control data
        control_ts = pd.DataFrame({
            f'ctrl_reviews_{i}': matched_controls.iloc[i][int_columns].values
            for i in range(len(matched_controls))
        })
        analysis_df = pd.concat([winner_ts, control_ts], axis=1).dropna()
        
        # Validate columns
        valid_cols = [
            col for col in analysis_df.columns
            if analysis_df[col].nunique() > 1 and analysis_df[col].std() > 0
        ]
        analysis_df = analysis_df[valid_cols]
        
        if 'reviews' not in analysis_df.columns or len(analysis_df.columns) < 2:
            print(f"Insufficient valid data for book '{title}'.")
            continue
        
        # Define treatment variable
        analysis_df['treatment_dummy'] = (analysis_df['date'] >= win_month).astype(int)
        
        # Causal inference (reviews impact)
        try:
            print("starting inference")
            reviews_model = CausalModel(
                data=analysis_df,
                treatment='treatment_dummy',
                outcome='reviews',
                common_causes=[col for col in analysis_df.columns if col.startswith('ctrl_reviews')],
                time_variable='date'
            )
            identified_estimand = reviews_model.identify_effect()
            causal_estimate = reviews_model.estimate_effect(
                identified_estimand,
                method_name="backdoor.propensity_score_weighting",
                confidence_intervals=True
            )
            
            # Extract key metrics
            ate = causal_estimate.value  # Average Treatment Effect
            ci_low, ci_high = causal_estimate.get_confidence_intervals()
            # Print results
            print(f"Results for book '{title}':")
            print(f"  ATE: {ate:.4f}")
            print(f"  Confidence Interval: [{ci_low:.4f}, {ci_high:.4f}]")
            print("\n" + "-"*10 + "\n")
            
            # Store results
            results.append({
                'title': title,
                'ATE': ate,
                'CI_low': ci_low,
                'CI_high': ci_high
            })
        except Exception as e:
            print(f"Error analyzing book '{title}': {e}")
    
    return results

In [ ]:
import json
# Get unique non-empty prizes
unique_prizes = price_df['price'].dropna().unique().tolist()
display(unique_prizes)

# Initialize master results dictionary
all_results = {}

# Run analysis for each prize
for prize in unique_prizes:
    try:
        print(f"Analyzing prize: {prize}")
        prize_results = analyze_prize_impact(
            df,
            price_df,
            prize_name=prize
        )
        
        # Convert results to a dictionary (key: book title)
        prize_results_dict = {result['title']: result for result in prize_results}
        
        # Save to master dictionary
        all_results[prize] = prize_results_dict
    except Exception as e:
        print(f"Error analyzing prize '{prize}': {e}")

# Save as JSON
with open('outcomes/prize_impact_results.json', 'w') as f:
    json.dump(all_results, f, default=lambda x: float(x) if isinstance(x, np.float32) else x, indent=4)

['Pulitzer Prize for Fiction',
 'National Book Award',
 'Hugo Award',
 'Deutscher Buchpreis',
 'Booker Prize',
 'Literature Nobel Prize',
 'Goodreads Choice Awards',
 "Women's Prize for Fiction",
 'National Book Award for Fiction',
 'Nebula Award']

Analyzing prize: Pulitzer Prize for Fiction
starting inference
Results for book 'olive kitteridge':
  ATE: 1232.1681
  Confidence Interval: [1137.6543, 1331.6055]

----------

starting inference
Results for book 'tinkers':
  ATE: 491.1962
  Confidence Interval: [455.4413, 526.9518]

----------

starting inference
Results for book 'a visit from the goon squad':
  ATE: 2038.6247
  Confidence Interval: [1933.1562, 2136.5208]

----------

starting inference
Results for book 'the orphan master's son':
  ATE: 928.5993
  Confidence Interval: [875.7534, 983.0122]

----------

starting inference
Results for book 'the goldfinch':
  ATE: 5241.8000
  Confidence Interval: [4944.7969, 5556.5908]

----------

starting inference
Results for book 'all the light we cannot see':
  ATE: 6644.1137
  Confidence Interval: [6191.7056, 7156.5854]

----------

Analyzing prize: National Book Award
starting inference
Results for book 'let the great world spin':
  ATE: 785.8621
  Confidence Interval: [729.0989, 844.4435]

----------

starting inference
Results for book 'shine shine shine':
  ATE: 143.5681
  Confidence Interval: [96.3210, 177.1244]

----------

starting inference
Results for book 'the sense of an ending':
  ATE: 1610.8945
  Confidence Interval: [1489.2293, 1748.8909]

----------

starting inference
Results for book 'this is how you lose her':
  ATE: 924.3678
  Confidence Interval: [863.8805, 984.3215]

----------

starting inference
Results for book 'the goldfinch':
  ATE: 4903.3668
  Confidence Interval: [4469.3410, 5349.5667]

----------

starting inference
Results for book 'redeployment':
  ATE: 408.6443
  Confidence Interval: [378.8356, 444.6789]

----------

starting inference
Results for book 'between the world and me':
  ATE: 2106.2401
  Confidence Interval: [1924.1300, 2333.8206]

----------

starting inference
Results for book 'the underground railroad':
  ATE: 1065.0384
  Confidence Interval: [673.2113, 1465.1514]

----------

Analyzing prize: Hugo Award
starting inference
Results for book 'the graveyard book':
  ATE: 2965.5078
  Confidence Interval: [2717.6615, 3241.6600]

----------

starting inference
Results for book 'the city & the city':
  ATE: 619.8405
  Confidence Interval: [576.1050, 670.4425]

----------

starting inference
Results for book 'the windup girl':
  ATE: 880.6966
  Confidence Interval: [819.2644, 949.4361]

----------

Book 'blackout/all clear' not found in dataset.
starting inference
Results for book 'among others':
  ATE: 771.5851
  Confidence Interval: [722.9626, 822.3637]

----------

starting inference
Results for book 'redshirts: a novel with three codas':
  ATE: 128.9725
  Confidence Interval: [122.2002, 137.0562]

----------

Book 'ancillary justice' not found in dataset.
starting inference
Results for book 'the three body problem':
  ATE: 1.4028
  Confidence Interval: [1.1392, 1.6609]

----------

Analyzing prize: Deutscher Buchpreis
starting inference
Results for book 'du stirbst nicht':
  ATE: 1.9766
  Confidence Interval: [1.6916, 2.2019]

----------

starting inference
Results for book 'tauben fliegen auf':
  ATE: 2.4317
  Confidence Interval: [1.7936, 2.9603]

----------

starting inference
Results for book 'in zeiten des abnehmenden lichts':
  ATE: 0.3591
  Confidence Interval: [0.0963, 0.5550]

----------

starting inference
Results for book 'landgericht':
  ATE: 0.7423
  Confidence Interval: [0.6025, 0.8701]

----------

starting inference
Results for book 'das ungeheuer':
  ATE: 1.6738
  Confidence Interval: [1.5305, 1.8026]

----------

starting inference
Results for book 'kruso':
  ATE: 7.3580
  Confidence Interval: [6.1302, 8.7371]

----------

starting inference
Results for book 'die erfindung der roten armee fraktion durch einen manisch-depressiven teenager im sommer 1969':
  ATE: 2.2389
  Confidence Interval: [1.8529, 2.6114]

----------

Analyzing prize: Booker Prize
starting inference
Results for book 'wolf hall':
  ATE: 4.2364
  Confidence Interval: [3.2543, 5.2126]

----------

starting inference
Results for book 'the finkler question':
  ATE: 282.1793
  Confidence Interval: [266.4074, 298.4903]

----------

starting inference
Results for book 'the sense of an ending':
  ATE: 1610.8945
  Confidence Interval: [1488.3348, 1752.2569]

----------

starting inference
Results for book 'bring up the bodies':
  ATE: 12.8102
  Confidence Interval: [12.1815, 13.4977]

----------

starting inference
Results for book 'the luminaries':
  ATE: 924.8663
  Confidence Interval: [861.5011, 988.0619]

----------

starting inference
Results for book 'the narrow road to the deep north':
  ATE: 704.1809
  Confidence Interval: [647.8505, 761.0090]

----------

starting inference
Results for book 'a brief history of seven killings':
  ATE: 503.2832
  Confidence Interval: [471.4168, 546.9749]

----------

Analyzing prize: Literature Nobel Prize
starting inference
Results for book 'the hunger angel':
  ATE: 22.3824
  Confidence Interval: [16.9291, 26.8743]

----------

starting inference
Results for book 'the fox was ever the hunter':
  ATE: 2.9848
  Confidence Interval: [1.6376, 4.0581]

----------

starting inference
Results for book 'the feast of the goat':
  ATE: 90.4075
  Confidence Interval: [82.7708, 99.2287]

----------

starting inference
Results for book 'conversation in the cathedral':
  ATE: 16.9811
  Confidence Interval: [15.3443, 18.6738]

----------

Book 'baltic spring' not found in dataset.
starting inference
Results for book 'the half-finished heaven':
  ATE: 9.3928
  Confidence Interval: [8.5766, 10.2836]

----------

starting inference
Results for book 'red sorghum':
  ATE: 49.9331
  Confidence Interval: [45.6515, 53.8740]

----------

starting inference
Results for book 'frog':
  ATE: 126.9885
  Confidence Interval: [116.2413, 139.1364]

----------

starting inference
Results for book 'too much happiness':
  ATE: 204.3203
  Confidence Interval: [188.9518, 220.6030]

----------

starting inference
Results for book 'the love of a good woman':
  ATE: 35.0080
  Confidence Interval: [31.9155, 38.5429]

----------

starting inference
Results for book 'dora bruder':
  ATE: 60.5985
  Confidence Interval: [52.4823, 69.8174]

----------

starting inference
Results for book 'honeymoon':
  ATE: 40.9688
  Confidence Interval: [36.4625, 45.6677]

----------

starting inference
Results for book 'the unwomanly face of war':
  ATE: 0.3828
  Confidence Interval: [0.0086, 0.6725]

----------

starting inference
Results for book 'second-hand time':
  ATE: 4.6288
  Confidence Interval: [2.2890, 6.4634]

----------

Analyzing prize: Goodreads Choice Awards
Book 'diary of a wimpy kid: dog days' not found in dataset.
starting inference
Results for book 'dead and gone':
  ATE: 5.1076
  Confidence Interval: [4.0462, 6.0104]

----------

starting inference
Results for book 'the help':
  ATE: 6937.4129
  Confidence Interval: [6422.2720, 7484.6263]

----------

starting inference
Results for book 'batman: whatever happened to the caped crusader?':
  ATE: 115.6119
  Confidence Interval: [106.8718, 123.9776]

----------

starting inference
Results for book 'the girl who played with fire':
  ATE: 22.2129
  Confidence Interval: [18.2531, 26.0550]

----------

starting inference
Results for book 'columbine':
  ATE: 731.5375
  Confidence Interval: [674.9542, 792.7540]

----------

Book 'an echo in the bone' not found in dataset.
starting inference
Results for book 'leviathan':
  ATE: 107.4225
  Confidence Interval: [94.5774, 120.8162]

----------

starting inference
Results for book 'along for the ride':
  ATE: 791.1982
  Confidence Interval: [725.9477, 860.7202]

----------

starting inference
Results for book 'the last song':
  ATE: 1015.6825
  Confidence Interval: [941.4694, 1090.5258]

----------

starting inference
Results for book 'blueberry girl':
  ATE: 105.7979
  Confidence Interval: [97.3808, 114.9678]

----------

starting inference
Results for book 'catching fire':
  ATE: 3.1265
  Confidence Interval: [2.2680, 3.8713]

----------

Book 'diary of a wimpy kid: the ugly truth' not found in dataset.
starting inference
Results for book 'towers of midnight':
  ATE: 0.9313
  Confidence Interval: [0.5506, 1.1965]

----------

starting inference
Results for book 'room':
  ATE: 4598.1662
  Confidence Interval: [4246.0020, 4982.9210]

----------

starting inference
Results for book 'the immortal life of henrietta lacks':
  ATE: 2720.6333
  Confidence Interval: [2520.0727, 2945.1685]

----------

Book 'twilight: the graphic novel' not found in dataset.
starting inference
Results for book 'fall of giants':
  ATE: 36.6084
  Confidence Interval: [33.3872, 39.5350]

----------

starting inference
Results for book 'the tudors':
  ATE: 6.7594
  Confidence Interval: [6.1305, 7.4651]

----------

Book 'bite me: a love story' not found in dataset.
starting inference
Results for book 'unbearable lightness':
  ATE: 7.6817
  Confidence Interval: [7.3676, 8.0162]

----------

Book 'the girl who kicked the hornets' nest' not found in dataset.
starting inference
Results for book 'the immortal life of henrietta lacks':
  ATE: 2720.6333
  Confidence Interval: [2523.3692, 2927.2772]

----------

starting inference
Results for book 'come on all you ghosts':
  ATE: 17.2878
  Confidence Interval: [16.3377, 18.4245]

----------

starting inference
Results for book 'lover mine':
  ATE: 3.7942
  Confidence Interval: [3.5540, 4.0447]

----------

starting inference
Results for book 'feed':
  ATE: 662.1156
  Confidence Interval: [610.8997, 714.4912]

----------

starting inference
Results for book 'mockingjay':
  ATE: 15.0103
  Confidence Interval: [11.5801, 17.8060]

----------

starting inference
Results for book 'before i fall':
  ATE: 2367.0174
  Confidence Interval: [2145.0127, 2580.6049]

----------

starting inference
Results for book 'torment':
  ATE: 29.1033
  Confidence Interval: [25.2414, 32.9935]

----------

starting inference
Results for book 'dead in the family':
  ATE: 0.7259
  Confidence Interval: [0.5992, 0.8643]

----------

starting inference
Results for book 'it's a book':
  ATE: 249.1104
  Confidence Interval: [234.5142, 261.7489]

----------

starting inference
Results for book 'the son of neptune':
  ATE: 13.5065
  Confidence Interval: [12.2322, 14.5599]

----------

starting inference
Results for book 'a dance with dragons':
  ATE: 1.7998
  Confidence Interval: [1.2758, 2.2926]

----------

starting inference
Results for book '1q84':
  ATE: 1714.8254
  Confidence Interval: [1619.9549, 1824.4893]

----------

Book 'vampire academy: the graphic novel' not found in dataset.
starting inference
Results for book 'the paris wife':
  ATE: 1961.2577
  Confidence Interval: [1839.5754, 2098.4472]

----------

starting inference
Results for book 'steve jobs':
  ATE: 1586.7194
  Confidence Interval: [1493.1877, 1687.4011]

----------

starting inference
Results for book 'graveminder':
  ATE: 51.0750
  Confidence Interval: [48.4227, 53.8665]

----------

starting inference
Results for book 'bossypants':
  ATE: 4014.1759
  Confidence Interval: [3754.7400, 4301.6056]

----------

starting inference
Results for book 'two kisses for maddy: a memoir of loss & love':
  ATE: 13.6361
  Confidence Interval: [12.8496, 14.4176]

----------

starting inference
Results for book 'smokin' seventeen':
  ATE: 0.7196
  Confidence Interval: [0.5041, 0.9214]

----------

Book 'the geeks shall inherit the earth' not found in dataset.
starting inference
Results for book 'horoscopes for the dead':
  ATE: 60.6284
  Confidence Interval: [56.9747, 64.3915]

----------

starting inference
Results for book 'lover unleashed':
  ATE: 0.4036
  Confidence Interval: [0.2115, 0.5521]

----------

starting inference
Results for book '11/22/63':
  ATE: 3573.6197
  Confidence Interval: [3312.4348, 3807.8010]

----------

starting inference
Results for book 'divergent':
  ATE: 1.3790
  Confidence Interval: [0.8403, 1.8337]

----------

starting inference
Results for book 'where she went':
  ATE: 11.3844
  Confidence Interval: [9.6935, 12.8447]

----------

starting inference
Results for book 'my father's daughter':
  ATE: 2.1642
  Confidence Interval: [1.3746, 2.8295]

----------

starting inference
Results for book 'city of fallen angels':
  ATE: 2.2199
  Confidence Interval: [1.3500, 2.9384]

----------

Book 'shadowfever' not found in dataset.
starting inference
Results for book 'when i grow up':
  ATE: 74.9075
  Confidence Interval: [68.4446, 80.8542]

----------

starting inference
Results for book 'little princes: one man's promise to bring home the lost children of nepal':
  ATE: 265.0192
  Confidence Interval: [251.0925, 280.5276]

----------

starting inference
Results for book 'the mark of athena':
  ATE: 13.3407
  Confidence Interval: [12.5415, 14.0880]

----------

Book 'the dark tower: the wind through the keyhole' not found in dataset.
starting inference
Results for book 'the casual vacancy':
  ATE: 4367.0034
  Confidence Interval: [4184.7091, 4569.5922]

----------

starting inference
Results for book 'the walking dead, vol. 16: a larger world':
  ATE: 100.5092
  Confidence Interval: [93.0217, 107.6458]

----------

starting inference
Results for book 'the light between oceans':
  ATE: 2759.5380
  Confidence Interval: [2540.6575, 2998.6809]

----------

starting inference
Results for book 'the twelve':
  ATE: 33.4857
  Confidence Interval: [29.8784, 36.9327]

----------

starting inference
Results for book 'let's pretend this never happened':
  ATE: 113.4303
  Confidence Interval: [106.1612, 121.5719]

----------

starting inference
Results for book 'wild: from lost to found on the pacific crest trail':
  ATE: 3519.0189
  Confidence Interval: [3205.7793, 3810.7491]

----------

starting inference
Results for book 'gone girl':
  ATE: 14159.5836
  Confidence Interval: [13189.1170, 15186.0131]

----------

starting inference
Results for book 'quiet: the power of introverts in a world that can't stop talking':
  ATE: 2145.9521
  Confidence Interval: [1973.1407, 2320.1565]

----------

starting inference
Results for book 'a thousand mornings':
  ATE: 105.5611
  Confidence Interval: [95.6460, 115.1462]

----------

starting inference
Results for book 'fifty shades freed':
  ATE: 0.8255
  Confidence Interval: [0.6862, 0.9753]

----------

starting inference
Results for book 'the long earth':
  ATE: 68.1113
  Confidence Interval: [62.4493, 74.2285]

----------

starting inference
Results for book 'insurgent':
  ATE: 11.2968
  Confidence Interval: [8.0234, 13.9288]

----------

starting inference
Results for book 'the fault in our stars':
  ATE: 17855.2123
  Confidence Interval: [16665.2683, 19237.9917]

----------

starting inference
Results for book 'the pioneer woman cooks: recipes from an accidental country girl':
  ATE: 89.1379
  Confidence Interval: [79.5994, 97.6469]

----------

starting inference
Results for book 'insurgent':
  ATE: 11.2968
  Confidence Interval: [8.2926, 14.1472]

----------

starting inference
Results for book 'shadow of night':
  ATE: 16.8073
  Confidence Interval: [15.9915, 17.6775]

----------

starting inference
Results for book 'olivia and the fairy princesses':
  ATE: 81.2333
  Confidence Interval: [77.8105, 85.4492]

----------

starting inference
Results for book 'the house of hades':
  ATE: 15.2992
  Confidence Interval: [14.3961, 16.3158]

----------

starting inference
Results for book 'the ocean at the end of the lane':
  ATE: 6617.2050
  Confidence Interval: [6243.8873, 6972.5570]

----------

starting inference
Results for book 'and the mountains echoed':
  ATE: 2758.0383
  Confidence Interval: [2639.5736, 2872.7554]

----------

starting inference
Results for book 'tangled':
  ATE: 103.3172
  Confidence Interval: [92.8294, 113.8616]

----------

starting inference
Results for book 'beautiful creatures':
  ATE: 11.8674
  Confidence Interval: [11.0580, 12.7144]

----------

starting inference
Results for book 'life after life':
  ATE: 3017.6394
  Confidence Interval: [2863.0883, 3182.8587]

----------

starting inference
Results for book 'jim henson: the biography':
  ATE: 164.8178
  Confidence Interval: [158.8353, 170.6600]

----------

starting inference
Results for book 'doctor sleep':
  ATE: 2159.2939
  Confidence Interval: [2072.4941, 2242.0875]

----------

Book 'hyperbole & a half' not found in dataset.
starting inference
Results for book 'i am malala':
  ATE: 48.0230
  Confidence Interval: [43.6614, 52.7903]

----------

starting inference
Results for book 'inferno':
  ATE: 145.3537
  Confidence Interval: [132.2687, 156.9287]

----------

starting inference
Results for book 'the autistic brain: thinking across the spectrum':
  ATE: 57.5789
  Confidence Interval: [54.8022, 60.5895]

----------

starting inference
Results for book 'the fall of arthur':
  ATE: 70.6786
  Confidence Interval: [66.8213, 74.9654]

----------

Book 'lover at last' not found in dataset.
starting inference
Results for book 'maddaddam':
  ATE: 31.9774
  Confidence Interval: [30.2206, 33.8298]

----------

starting inference
Results for book 'allegiant':
  ATE: 6.9935
  Confidence Interval: [6.0321, 8.0264]

----------

starting inference
Results for book 'eleanor & park':
  ATE: 8304.0673
  Confidence Interval: [7646.9799, 9004.3579]

----------

starting inference
Results for book 'tequila mockingbird: cocktails with a literary twist':
  ATE: 63.7867
  Confidence Interval: [60.1039, 67.3272]

----------

starting inference
Results for book 'cold days':
  ATE: 1.6430
  Confidence Interval: [1.2621, 1.9856]

----------

starting inference
Results for book 'the day the crayons quit':
  ATE: 517.4979
  Confidence Interval: [484.6983, 553.5128]

----------

starting inference
Results for book 'the blood of olympus':
  ATE: 19.7708
  Confidence Interval: [19.0486, 20.4998]

----------

starting inference
Results for book 'the book of life':
  ATE: 12.0509
  Confidence Interval: [10.9119, 13.4069]

----------

starting inference
Results for book 'landline':
  ATE: 3521.0407
  Confidence Interval: [3340.5712, 3724.6770]

----------

starting inference
Results for book 'red rising':
  ATE: 5.3407
  Confidence Interval: [4.7099, 5.9442]

----------

Book 'serenity: leaves on the wind' not found in dataset.
starting inference
Results for book 'all the light we cannot see':
  ATE: 6389.2780
  Confidence Interval: [5864.6316, 6973.7052]

----------

starting inference
Results for book 'the romanov sisters':
  ATE: 4.6670
  Confidence Interval: [4.4640, 4.8953]

----------

starting inference
Results for book 'prince lestat':
  ATE: 4.4291
  Confidence Interval: [3.7744, 5.1577]

----------

starting inference
Results for book 'yes please':
  ATE: 3671.8727
  Confidence Interval: [3424.8549, 3929.1038]

----------

starting inference
Results for book 'this star won't go out':
  ATE: 2.4115
  Confidence Interval: [1.9882, 2.7985]

----------

starting inference
Results for book 'mr. mercedes':
  ATE: 2.1947
  Confidence Interval: [1.5218, 2.7071]

----------

Book 'the opposite of loneliness' not found in dataset.
starting inference
Results for book 'lullabies':
  ATE: 262.5674
  Confidence Interval: [241.3780, 284.1333]

----------

starting inference
Results for book 'written in my own heart's blood':
  ATE: 6.8987
  Confidence Interval: [6.3303, 7.5136]

----------

starting inference
Results for book 'the martian':
  ATE: 9522.7036
  Confidence Interval: [8707.6805, 10353.4442]

----------

Book 'city of heavenly fire' not found in dataset.
starting inference
Results for book 'we were liars':
  ATE: 7201.9183
  Confidence Interval: [6790.5497, 7614.8049]

----------

starting inference
Results for book '#girlboss':
  ATE: 558.4366
  Confidence Interval: [503.1228, 617.7740]

----------

starting inference
Results for book 'make it ahead: a barefoot contessa cookbook':
  ATE: 21.6871
  Confidence Interval: [20.8417, 22.5895]

----------

Book 'the pigeon needs a bath! (i do not!)' not found in dataset.